html, body {
  height: 100%;
font-family: "Times New Roman", Times, serif;

}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  margin-left: 20px;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-sm {
    width: 80px;
}

.button-md {
    width: 110px;
}

.button-lg {
    width: 140px;
}


/* Loader CSS */

.la-ball-fussion,
.la-ball-fussion > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-fussion {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-fussion.la-dark {
    color: #333;
}
.la-ball-fussion > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-fussion {
    width: 8px;
    height: 8px;
}
.la-ball-fussion > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: ball-fussion-ball1 1s 0s ease infinite;
       -moz-animation: ball-fussion-ball1 1s 0s ease infinite;
         -o-animation: ball-fussion-ball1 1s 0s ease infinite;
            animation: ball-fussion-ball1 1s 0s ease infinite;
}
.la-ball-fussion > div:nth-child(1) {
    top: 0;
    left: 50%;
    z-index: 2500;
}
.la-ball-fussion > div:nth-child(2) {
    top: 50%;
    left: 100%;
    z-index: 3500;
    -webkit-animation-name: ball-fussion-ball2;
       -moz-animation-name: ball-fussion-ball2;
         -o-animation-name: ball-fussion-ball2;
            animation-name: ball-fussion-ball2;
}
.la-ball-fussion > div:nth-child(3) {
    top: 100%;
    left: 50%;
    z-index: 2500;
    -webkit-animation-name: ball-fussion-ball3;
       -moz-animation-name: ball-fussion-ball3;
         -o-animation-name: ball-fussion-ball3;
            animation-name: ball-fussion-ball3;
}
.la-ball-fussion > div:nth-child(4) {
    top: 50%;
    left: 0;
    z-index: 3500;
    -webkit-animation-name: ball-fussion-ball4;
       -moz-animation-name: ball-fussion-ball4;
         -o-animation-name: ball-fussion-ball4;
            animation-name: ball-fussion-ball4;
}
.la-ball-fussion.la-sm {
    width: 4px;
    height: 4px;
}
.la-ball-fussion.la-sm > div {
    width: 6px;
    height: 6px;
}
.la-ball-fussion.la-2x {
    width: 16px;
    height: 16px;
}
.la-ball-fussion.la-2x > div {
    width: 24px;
    height: 24px;
}
.la-ball-fussion.la-3x {
    width: 24px;
    height: 24px;
}
.la-ball-fussion.la-3x > div {
    width: 36px;
    height: 36px;
}
/*
 * Animations
 */
@-webkit-keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 3500;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 3500;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 3500;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball1 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 3500;
        opacity: .35;
    }
}
@-webkit-keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball2 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@-webkit-keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 3500;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 3500;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball3 {
    0% {
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 3500;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball3 {
    0% {
        opacity: 1;
        opacity: .35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 3500;
        opacity: .35;
    }
}
@-webkit-keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@-moz-keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@-o-keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}
@keyframes ball-fussion-ball4 {
    0% {
        opacity: .35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 2500;
        opacity: .35;
    }
}

 /* Backdrop CSS */
.backdrop {

background: rgba(0,0,0,.5) no-repeat;

width: 100%;

height: 100%;

position: fixed;

top: 0;

left: 0;

z-index: 2500 !important;

}
